<div class="chat-data-container">
<div class="chat-data">
    {{#each chatData}}
        <div class="chat-row">
            {{>Avatar src="{{avatar}}" class="chat-row-avatar" }}
            <div class="chat-content">
                <div class="chat-header">
                    <span class="chat-name">{{this.name}}</span>
                    <span class="chat-time">{{this.time}}</span>
                </div>
                <div class="chat-subtitle">{{this.message}}</div>
            </div>
            <div class="chat-badge">{{this.bage}}</div>
        </div>
{{/each}}
</div>
<div class="message-area"> Выберите чат чтобы отправить сообщение</div>
</div>
